.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &-logo {
    height: 238px;
  }
}
.home-buttons {
  display: flex;
  gap: 65px
}

@media (max-width: 600px) {
  .home-buttons {
    flex-direction: column;
    gap: 38px;
  }
  .home-logo {
    height: 130px;
  }
}
